*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
/.build-outputs
/assets/.aistudio
debug.keystore.base64
gradle-build*.log
/gradle/wrapper/tmp-extract
/gradle/wrapper/gradle-8.10.2-bin.zip
.idea/vcs.xml
