*.iml
.gradle
.kotlin
/local.properties
.idea/
!.idea/codeStyles/
!.idea/copyright/
!.idea/dictionaries/
!.idea/inspectionProfiles/
.vscode/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.env
debug.keystore
/.build-outputs
debug.keystore.base64
*.log
gradle*.log
/gradle/wrapper/tmp-extract
/gradle/wrapper/gradle-8.10.2-bin.zip
metadata.json
